body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.hero button {
    background: #f80;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.game-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game {
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

.game img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 11px;
    background: #f80;
    border: none;
    color: #fff;
    cursor: pointer;
}